<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{ gif.title }}</h1>
    <img src="{{ gif.url }}" alt="{{ gif.title }}" />
    <p>Uploader: {{ gif.uploader_name }}</p>
    <p>
      Categories: {% for category in gif.categories.all %} {{ category.name }}
      {% if not forloop.last %}, {% endif %} {% empty %}No categories{% endfor
      %}
    </p>
    <p>Likes: {{ gif.likes }}</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit" name="increment" style="background-color: green">
        Increment Likes
      </button>
      <button type="submit" name="decrement" style="background-color: red">
        Decrement Likes
      </button>
    </form>
  </body>
</html>
