{% extends 'base.html' %} {% block content %}

<div class="text-center">
  <figure class="figure1">
    <img
      src="https://images.unsplash.com/photo-1601128990772-f9a7534383c8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80"
      class="figure-img img-fluid rounded"
      alt="Hotel Torquay image"
    />
  </figure>
  <h1>Welcome to Hotel Torquay</h1>
  <p>
    Hotel Torquay is nestled in the countryside of teh Fens. Built in the 1820's
    Hotel Torquay is filled with history and surrounded with beauty. A perfect
    stay away for anyone looking for a relaxing vacation.
  </p>
  <p>
    Farm to table dinning offers our guests a fresh and unique experience at
    every meal. Offering what is in season allows us to provide a flavor-filled
    dining experience.
  </p>
  <p>
    Explore the Fens beauty for all it worth with hiking (guided upon request),
    outdoor yoga and meditation, and serene sunsets.
  </p>
</div>

<div class="text-center">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Book a Stay</h5>
          <p class="card-text">Your upcoming visit with us starts here.</p>
          <a href="#" class="btn btn-primary">Book</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">What are they satying about us?</h5>
          <p class="card-text">Check out our review before your stay.</p>
          <a href="#" class="btn btn-primary">Reviews</a>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <figure class="figure2">
      <img
        src="https://images.unsplash.com/photo-1603484914328-2f4bc550108d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80"
        class="figure-img img-fluid rounded"
        alt="Hotel Torquay image"
      />
      <figcaption class="figure-caption">Hotel Torquay at sunset</figcaption>
    </figure>
  </div>
  {% endblock content %}
</div>
