<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Image Sharing</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body>
    {% include 'navbar.html' %} {% block content %} {% endblock %}

    <footer class="footer fixed-bottom bg-dark text-light text-center">
      <div class="container">
        <span class="text-muted">Image Sharing Co.</span>
      </div>
    </footer>
  </body>
</html>
