<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'feed' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'upload-image' %}">Upload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'my-images' %}">My images</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
