<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{ gif.title }}</h1>
    <img src="{{ gif.url }}" alt="{{ gif.title }}" />
    <p>Uploader: {{ gif.uploader_name }}</p>
    <p>Likes: {{ gif.likes }}</p>
    <form
      action="{% url 'increment_likes' gif.id %}"
      method="post"
      style="display: inline"
    >
      {% csrf_token %}
      <button type="submit" style="background-color: green">Like</button>
    </form>
    <form
      action="{% url 'decrement_likes' gif.id %}"
      method="post"
      style="display: inline"
    >
      {% csrf_token %}
      <button type="submit" style="background-color: red">Dislike</button>
    </form>
  </body>
</html>
