{% extends "base.html" %} {% block content %}
<div class="card">
  <div class="card-body">
    {% if user.is_authenticated %}
    <h3 class="card-title">Welcome {{user.first_name}}</h5>
    <h5 class="card-title">Films</h5>
    {% for i in films %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ i.title }}</h5>
            <h6 class="card-title">Director:</h6>
            {%for film_director in i.director.all%}
            <h7 class="card-title">{{film_director}},</h7>
            {% endfor %} 
            <h6 class="card-title">Producer:</h6>
            {%for film_producer in i.producers.all%}
            <h7 class="card-title">{{film_producer}}, </h7>
            {% endfor %} 
            <p class="card-text">
              Release Date: {{ i.release_date|date:"F j, Y" }}
            </p>
            <a href="{% url 'detailfilm' i.id %}" class="btn btn-primary">Film info</a>

            <!-- Delete a film -->
            {% if user.is_superuser %}
            <a href="{% url 'deletefilm' i.id %}" class="btn btn-primary">Delete film</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %} {% else %}
    <p>Please login to view the films.</p>
    {% endif %}
  </div>
</div>
{% endblock content %}

<!-- old code -->
   <!-- <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">{{ i.title }}</h6>
        <p class="card-text">Directed by: {{ i.director }}</p>
        <p class="card-text">
          Release Date: {{ i.release_date|date:"F j, Y" }}
        </p> -->